appdirs
attrdict
Corpora
cycler
gevent
greenlet
jieba
matplotlib
https://cdn.mysql.com/Downloads/Connector-Python/mysql-connector-python-2.1.5.tar.gz
mysqlclient
nltk
numpy
packaging
pyparsing
python-dateutil
pytz
requests
six
